.options {
	.button {
		width: 4em;
		height: 3em;
		font-size: 3em;
		margin: 0.25em;

		&:hover {
			box-shadow: 0.2em 0.2em 0 0 #fff;
			border-radius: 0.1em;
		}

		&:focus {
			box-shadow: 0.2em 0.2em 0 0 #fff;
			border-radius: 0.1em;
		}
	}
}
