.waitingPanel {
	height: 100%;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	visibility: hidden;
	margin: 0 !important;

	&.visible {
		visibility: visible;
	}

	.clearDarts {
		font-weight: 500;
	}
}

.gamePanel {
	height: 100vh;

	.header {
		padding: 0 2em;

		.button {
			margin-left: 1em;
		}
	}

	.rounds {
		padding: 1em;
		padding-top: 2em;
		height: 75vh;
	}

	.center {
		height: 75vh;
	}

	.totalsContainer {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 70%;
	}

	.totals {
		font-size: 14em;
		font-weight: 900;
		text-shadow: 0.06em 0.06em #e49708;
		text-align: center;
	}

	.dartsContainer {
		height: 30%;

		.dart {
			font-size: 3em;
			font-weight: 700;
			text-align: center;
			padding: 0.5em;
			width: 20em;

			&.active {
				background-color: rgba(51, 169, 255, 0.4);
				border-radius: 10em;
			}
		}
	}

	.players {
		height: 15vh;
		text-align: center;

		.player {
			background-color: rgba(0, 0, 0, 0.4);
			height: 100%;
			margin: 0 1em;
			max-width: 25em;

			&.active {
				background-color: rgba(249, 198, 96, 0.4);
			}
		}

		.playerTotal {
			font-weight: 700;
		}
	}
}
